<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="style.css" />
    <title>CART</title>
  </head>
  <body>
    <section class="mx-[4rem] my-[5px]">
      <nav
        class="flex justify-between items-center py-[5px] mt-[4px] border-b-[0.5px] border-[#808080]"
      >
        <ul>
          <li class="text-[9.5px] font-medium">Logo Website</li>
        </ul>
        <ul class="flex justify-center items-center gap-6">
          <li class="text-[9.5px] font-medium">Harga Pasar</li>
          <li class="text-[9.5px] font-medium">Riwayat Transaksi</li>
          <li class="text-[9.5px] font-medium">Bookmark</li>
          <li class="text-[9.5px] font-medium">Profile</li>
        </ul>
        <ul>
          <span class="material-symbols-outlined text-[1rem]">
            local_mall
          </span>
        </ul>
      </nav>
      <!-- TITLE SECTION BOOKMARK -->
      <div class="flex items-center mt-[1rem] gap-[7px] mb-[1rem]">
        <span
          class="material-symbols-outlined text-[1rem] p-[1px] rounded-full border border-black"
        >
          arrow_back
        </span>
        <h4 class="font-medium">Keranjang Belanja Anda</h4>
      </div>
      <!-- MAIN BOOKMARK SECTION -->
      <main class="flex flex-col gap-3 mb-[7rem]">
        <div
          class="grid grid-cols-[200px,auto] border-[0.5px] gap-1 border-[#000000] items-center rounded-[12px] py-[4px] px-[6px] h-auto"
        >
          <div
            class="w-[150px] h-[80px] flex items-center justify-center gap-[2px] ml-[5px]"
          >
            <input type="checkbox" />
            <img
              src="../assets/login/wortel.png"
              class="w-full h-[80px] object-fill"
              alt=""
            />
          </div>
          <div class="ml-[-2rem] mr-[10px]">
            <h5 class="text-[1.1rem] font-medium">
              Lorem ipsum dolor sit amet.
            </h5>
            <div class="flex justify-between items-center gap-1">
              <p class="font-semibold text-[14px]">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Corrupti
              </p>
              <span
                class="flex border border-[rgba(107, 106, 106, 0.158)] rounded-[4px] items-center px-[2px]"
              >
                <span class="material-symbols-outlined text-[0.8rem]">
                  remove
                </span>
                <span
                  class="border-l-[1px] border-r-[1px] border-[rgba(107, 106, 106, 0.158)] px-[5px]"
                  ><p class="text-[0.8rem]">0</p></span
                >
                <span class="material-symbols-outlined text-[0.8rem]">
                  add
                </span>
              </span>
            </div>
            <span class="price">
              <p class="font-bold">Rp 100.000</p>
            </span>
          </div>
        </div>
        <div
          class="grid grid-cols-[200px,auto] border-[0.5px] gap-1 border-[#000000] items-center rounded-[12px] py-[4px] px-[6px] h-auto"
        >
          <div
            class="w-[150px] h-[80px] flex items-center justify-center gap-[2px] ml-[5px]"
          >
            <input type="checkbox" />
            <img
              src="../assets/login/wortel.png"
              class="w-full h-[80px] object-fill"
              alt=""
            />
          </div>
          <div class="ml-[-2rem] mr-[10px]">
            <h5 class="text-[1.1rem] font-medium">
              Lorem ipsum dolor sit amet.
            </h5>
            <div class="flex justify-between items-center gap-1">
              <p class="font-semibold text-[14px]">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Corrupti
              </p>
              <span
                class="flex border border-[rgba(107, 106, 106, 0.158)] rounded-[4px] items-center px-[2px]"
              >
                <span class="material-symbols-outlined text-[0.8rem]">
                  remove
                </span>
                <span
                  class="border-l-[1px] border-r-[1px] border-[rgba(107, 106, 106, 0.158)] px-[5px]"
                  ><p class="text-[0.8rem]">0</p></span
                >
                <span class="material-symbols-outlined text-[0.8rem]">
                  add
                </span>
              </span>
            </div>
            <span class="price">
              <p class="font-bold">Rp 100.000</p>
            </span>
          </div>
        </div>
        <div
          class="grid grid-cols-[200px,auto] border-[0.5px] gap-1 border-[#000000] items-center rounded-[12px] py-[4px] px-[6px] h-auto"
        >
          <div
            class="w-[150px] h-[80px] flex items-center justify-center gap-[2px] ml-[5px]"
          >
            <input type="checkbox" />
            <img
              src="../assets/login/wortel.png"
              class="w-full h-[80px] object-fill"
              alt=""
            />
          </div>
          <div class="ml-[-2rem] mr-[10px]">
            <h5 class="text-[1.1rem] font-medium">
              Lorem ipsum dolor sit amet.
            </h5>
            <div class="flex justify-between items-center gap-1">
              <p class="font-semibold text-[14px]">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Corrupti
              </p>
              <span
                class="flex border border-[rgba(107, 106, 106, 0.158)] rounded-[4px] items-center px-[2px]"
              >
                <span class="material-symbols-outlined text-[0.8rem]">
                  remove
                </span>
                <span
                  class="border-l-[1px] border-r-[1px] border-[rgba(107, 106, 106, 0.158)] px-[5px]"
                  ><p class="text-[0.8rem]">0</p></span
                >
                <span class="material-symbols-outlined text-[0.8rem]">
                  add
                </span>
              </span>
            </div>
            <span class="price">
              <p class="font-bold">Rp 100.000</p>
            </span>
          </div>
        </div>
        <div
          class="grid grid-cols-[200px,auto] border-[0.5px] gap-1 border-[#000000] items-center rounded-[12px] py-[4px] px-[6px] h-auto"
        >
          <div
            class="w-[150px] h-[80px] flex items-center justify-center gap-[2px] ml-[5px]"
          >
            <input type="checkbox" />
            <img
              src="../assets/login/wortel.png"
              class="w-full h-[80px] object-fill"
              alt=""
            />
          </div>
          <div class="ml-[-2rem] mr-[10px]">
            <h5 class="text-[1.1rem] font-medium">
              Lorem ipsum dolor sit amet.
            </h5>
            <div class="flex justify-between items-center gap-1">
              <p class="font-semibold text-[14px]">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Corrupti
              </p>
              <span
                class="flex border border-[rgba(107, 106, 106, 0.158)] rounded-[4px] items-center px-[2px]"
              >
                <span class="material-symbols-outlined text-[0.8rem]">
                  remove
                </span>
                <span
                  class="border-l-[1px] border-r-[1px] border-[rgba(107, 106, 106, 0.158)] px-[5px]"
                  ><p class="text-[0.8rem]">0</p></span
                >
                <span class="material-symbols-outlined text-[0.8rem]">
                  add
                </span>
              </span>
            </div>
            <span class="price">
              <p class="font-bold">Rp 100.000</p>
            </span>
          </div>
        </div>
        <div
          class="grid grid-cols-[200px,auto] border-[0.5px] gap-1 border-[#000000] items-center rounded-[12px] py-[4px] px-[6px] h-auto"
        >
          <div
            class="w-[150px] h-[80px] flex items-center justify-center gap-[2px] ml-[5px]"
          >
            <input type="checkbox" />
            <img
              src="../assets/login/wortel.png"
              class="w-full h-[80px] object-fill"
              alt=""
            />
          </div>
          <div class="ml-[-2rem] mr-[10px]">
            <h5 class="text-[1.1rem] font-medium">
              Lorem ipsum dolor sit amet.
            </h5>
            <div class="flex justify-between items-center gap-1">
              <p class="font-semibold text-[14px]">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Corrupti
              </p>
              <span
                class="flex border border-[rgba(107, 106, 106, 0.158)] rounded-[4px] items-center px-[2px]"
              >
                <span class="material-symbols-outlined text-[0.8rem]">
                  remove
                </span>
                <span
                  class="border-l-[1px] border-r-[1px] border-[rgba(107, 106, 106, 0.158)] px-[5px]"
                  ><p class="text-[0.8rem]">0</p></span
                >
                <span class="material-symbols-outlined text-[0.8rem]">
                  add
                </span>
              </span>
            </div>
            <span class="price">
              <p class="font-bold">Rp 100.000</p>
            </span>
          </div>
        </div>
      </main>
    </section>
    <footer
      class="bottom-[0] flex items-center justify-between border-t-[0.5px] border-black px-[4rem] py-[15px] bg-[#FAFAFA] shadow-inner"
    >
      <div class="flex items-center gap-1">
        <p class="text-[13px]">1 Product:</p>
        <p class="text-[14px] font-medium">Rp. 2.599.000</p>
      </div>
      <button class="py-1 px-[4rem] bg-[#003E22] rounded-[1rem]">
        <p class="text-[14px] text-white">Bayar</p>
      </button>
    </footer>
  </body>
</html>
