<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section>
      <!-- NAVBAR SECTION -->
      <nav>
        <ul>
          <li>Logo Website</li>
        </ul>
        <ul>
          <li>Edukasi</li>
          <li>Riwayat Transaksi</li>
          <li>Bookmark</li>
        </ul>
        <ul>
          <li>Logout</li>
        </ul>
      </nav>
      <!-- TITLE SECTION BOOKMARK -->
      <div class="Title">
        <span class="material-symbols-outlined"> arrow_back </span>
        <h4>Bookmark</h4>
      </div>
      <!-- MAIN BOOKMARK SECTION -->
      <div class="main">
        <div class="left">
          <img src="../assets/login/wortel.png" alt="" />
        </div>
        <div class="right">
          <div class="bookmark">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <span class="material-symbols-outlined"> bookmark </span>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti
            cum vero hic rem? Debitis itaque rem error, consequatur aspernatur
            placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iste aperiam suscipit similique, labore magnam mollitia molestiae
            repellendus minus reprehenderit adipisci? Fuga quas perspiciatis
            laudantium consectetur laboriosam eveniet animi delectus?
          </p>
          <span class="price">
            <p class="first">Rp 100.000</p>
            <p class="side">Rp. 150.000</p>
          </span>
        </div>
      </div>
      <div class="main">
        <div class="left">
          <img src="../assets/login/wortel.png" alt="" />
        </div>
        <div class="right">
          <div class="bookmark">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <span class="material-symbols-outlined"> bookmark </span>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti
            cum vero hic rem? Debitis itaque rem error, consequatur aspernatur
            placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iste aperiam suscipit similique, labore magnam mollitia molestiae
            repellendus minus reprehenderit adipisci? Fuga quas perspiciatis
            laudantium consectetur laboriosam eveniet animi delectus?
          </p>
          <span class="price">
            <p class="first">Rp 100.000</p>
            <p class="side">Rp. 150.000</p>
          </span>
        </div>
      </div>
      <div class="main">
        <div class="left">
          <img src="../assets/login/wortel.png" alt="" />
        </div>
        <div class="right">
          <div class="bookmark">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <span class="material-symbols-outlined"> bookmark </span>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti
            cum vero hic rem? Debitis itaque rem error, consequatur aspernatur
            placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iste aperiam suscipit similique, labore magnam mollitia molestiae
            repellendus minus reprehenderit adipisci? Fuga quas perspiciatis
            laudantium consectetur laboriosam eveniet animi delectus?
          </p>
          <span class="price">
            <p class="first">Rp 100.000</p>
            <p class="side">Rp. 150.000</p>
          </span>
        </div>
      </div>
      <div class="main">
        <div class="left">
          <img src="../assets/login/wortel.png" alt="" />
        </div>
        <div class="right">
          <div class="bookmark">
            <h5>Lorem ipsum dolor sit amet.</h5>
            <span class="material-symbols-outlined"> bookmark </span>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti
            cum vero hic rem? Debitis itaque rem error, consequatur aspernatur
            placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iste aperiam suscipit similique, labore magnam mollitia molestiae
            repellendus minus reprehenderit adipisci? Fuga quas perspiciatis
            laudantium consectetur laboriosam eveniet animi delectus?
          </p>
          <span class="price">
            <p class="first">Rp 100.000</p>
            <p class="side">Rp. 150.000</p>
          </span>
        </div>
      </div>
    </section>
  </body>
</html>
