<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="mx-[4rem] my-[5px]">
      <nav
        class="flex justify-between items-center py-[5px] mt-[4px] border-b-[0.5px] border-black"
      >
        <ul>
          <li class="text-[9.5px] font-medium">Logo Website</li>
        </ul>
        <ul class="flex justify-center items-center gap-6">
          <li class="text-[9.5px] font-medium">Harga Pasar</li>
          <li class="text-[9.5px] font-medium">Riwayat Transaksi</li>
          <li class="text-[9.5px] font-medium">Bookmark</li>
          <li class="text-[9.5px] font-medium">Bookmark</li>
        </ul>
        <ul>
          <span class="material-symbols-outlined text-[1rem]">
            local_mall
          </span>
        </ul>
      </nav>
      <!-- SEARCH -->
      <div class="mt-4 flex items-center gap-8">
        <span
          class="material-symbols-outlined text-[1rem] p-[1px] rounded-full border border-black"
        >
          arrow_back
        </span>
        <div
          class="flex items-center justify-center text-center w-full relative"
        >
          <input
            type="search"
            placeholder="Search"
            class="border-[0.5px] border-black rounded-[5px] px-[5px] h-[24px] py-[1px] w-[20rem] text-[9px] leading-[20px] placeholder:font-medium placeholder flex justify-center items-center box-border"
          />

          <span
            class="material-symbols-outlined text-[10px] absolute right-[30%]"
          >
            search
          </span>
        </div>
      </div>
      <!-- MAIN CONTENT CATALOG -->
      <div class="flex flex-wrap gap-4 align-center justify-start mt-5">
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border border-[#E0E0E0] rounded-full p-[1px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border border-[#E0E0E0] rounded-full p-[1px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border border-[#E0E0E0] rounded-full p-[1px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border border-[#E0E0E0] rounded-full p-[1px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border border-[#E0E0E0] rounded-full p-[1px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border border-[#E0E0E0] rounded-full p-[1px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border border-[#E0E0E0] rounded-full p-[1px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border-[0.5px] border-[#E0E0E0] rounded-full p-[1.5px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
        <div class="h-[200px] w-[120px] p-[2px]">
          <div>
            <img src="../assets/login/sayur.png" alt="" />
          </div>
          <div>
            <h6 class="text-[10px] font-medium leading-none mt-[4px] mb-[4px]">
              Lorem ipsum dolor sit amet consectetur.
            </h6>
            <span class="flex items-center gap-1">
              <p class="text-[9px] font-bold text-[#005E32]">Rp 100.000</p>
              <p class="text-[8px] line-through text-[#A9A9A9]">Rp. 150.000</p>
            </span>
            <span class="flex items-center gap-1 mt-[2px]">
              <img
                src="../assets/login/Vector.png"
                class="w-[10px] h-[10px]"
                alt=""
              />
              <span class="flex items-center gap-[1.5px]">
                <p class="text-[#FFAC33] text-[8px] font-medium">4.9</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">/</p>
                <p class="text-[#FFAC33] text-[8px] font-medium">5.0</p>
              </span>
            </span>
            <div class="flex items-center justify-between mt-[5px] gap-2">
              <button
                class="flex items-center justify-center border border-[#E0E0E0] rounded-[10px] flex-1 px-[2px] py-[1.5px] gap-1"
              >
                <span class="material-symbols-outlined text-[13px]">
                  local_mall
                </span>
                <p class="text-[8px] font-medium">Buy Now</p>
              </button>
              <span
                class="material-symbols-outlined text-[13px] border border-[#E0E0E0] rounded-full p-[1px]"
              >
                bookmark
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
