@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-out {
  transition: background-position 0.3s ease-in-out;
  background-position: 100% 0;
}

.animate-slide-in {
  transition: background-position 0.3s ease-in-out;
  background-position: 0 0;
}
